@using _2_Vjezba.EntityModels
@model StudentPrisustvoPrikazVM

@{
    ViewData["Title"] = "Prikaz";
}

<h1 class="display-4">Prisustva studenta @Model.Student </h1>

<br />
<table class="table table-hover">
    <thead class="thead-dark text-center">
        <tr>
            <th>Predmet</th>
            <th>Datum</th>
            <th>Prisutan</th>
            <th>Komentar</th>
            <th>Opcije</th>
        </tr>

    </thead>

    <tbody class="text-center">
        @foreach (StudentPrisustvoPrikazVM.Row p in Model.Prisustva)
        {
            <tr>
                <td class="align-middle">@p.NazivPredmeta</td>
                <td class="align-middle">@p.Datum.ToString("dd.MM.yyyy")</td>
                <td class="align-middle">@(p.IsPrisutan? "Da":"Ne")</td>
                <td class="align-middle">@p.Komentar</td>
                <td>
                    <button class="btn btn-outline-primary col" type="button" onclick="OtvoriFormuUrediPrisustvo(@p.ID)">Uredi</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function OtvoriFormuUrediPrisustvo(pID) {
        var url = "/StudentPrisustvo/Uredi?pID=" + pID;

        $.get(url, function (sadrzaj) {
            $("#informacije").html(sadrzaj);
        })
    }
</script>