@using _2_Vjezba.EntityModels
@model StudentPrikazVM

@{
    ViewData["Title"] = "Prikaz";
}

<h1 class="display-3">Pregled liste studenata</h1>

<form>
    <div class="row">
        <div class="input-group col">
            <input class="form-control" name="filter" value="@Model.filter" />
            <div class="input-group-append">
                <input class="btn btn-outline-secondary rounded" type="submit" value="Pretraži" />
            </div>
            <button class="btn btn-outline-secondary col-5 ml-2" type="button" onclick="window.location='/Student/DodajUredi'">Dodaj studenta</button>
        </div>
    </div>
</form>

<br />

<table class="table table-hover">
    <thead class="thead-dark text-center">
        <tr>
            <th>ID</th>
            <th>Broj indeksa</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Općina rođenja</th>
            <th>Općina prebivališta</th>
            <th>Opcije</th>
        </tr>

    </thead>

    <tbody class="text-center">
        @foreach (StudentPrikazVM.Row s in Model.studenti)
        {
            <tr>
                <td class="align-middle">@s.ID</td>
                <td class="align-middle">@s.BrojIndeksa</td>
                <td class="align-middle">@s.Ime</td>
                <td class="align-middle">@s.Prezime</td>
                <td class="align-middle">@s.OpcinaRodjenja</td>
                <td class="align-middle">@s.OpcinaPrebivalista</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-outline-primary col mr-1" type="button" onclick="window.location='/Student/DodajUredi?sID=@s.ID'">Uredi</button>
                        <button class="btn btn-outline-danger col" type="button" onclick="window.location='/Student/Obrisi?sID=@s.ID'">Obriši</button>
                        <button class="btn btn-outline-info col ml-1" type="button" onclick="PrikaziDetalje(@s.ID)">Detalji</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<br/>

<div id="detalji"></div>

<script>
    //AJAX poziv - učitava dio stranice on demand 
    function PrikaziDetalje(sID) {
        //alert("ID studenta je " + sID);

        var url = "/Student/Detalji?sID=" + sID;

        //1. NACIN

        //var httpReq = new XMLHttpRequest();
        //httpReq.onreadystatechange = function () {
        //    if (this.readyState == 4 && this.status == 200)
        //        document.getElementById("detalji").innerHTML = httpReq.responseText;
        //};
        //httpReq.open("GET", url, true);
        //httpReq.send();


        //2. NACIN

        var httpReq = new XMLHttpRequest();
        httpReq.onload = function () {
            if (this.status === 200) 
                document.getElementById("detalji").innerHTML = httpReq.responseText;
            else {
                alert("Došlo je do greške.");
            }
        }
        httpReq.open("GET", url, true);
        httpReq.send();
    }
</script>

